.login-page {
    width: 100%;
    height: 100vh;
    box-shadow: inset 100px 100px 200px 40px rgba(255,218,185, 0.5);
    position: relative ;
    
    .login-container {
        box-shadow: 20px 20px 100px 0 rgba(255,218,185, 0.5);
        height: 500px;
        width: 600px;
        border: 1px solid rgb(95, 74, 74);
        border-radius: .5rem;
        background-color: #fff;
        position: relative;
        
        .login-header {
            color: rgb(95, 74, 74);
            font-size: 4rem;
            position: relative;
        }
        
        .login-form {
            width: 60%;
            height: 50%;
            position: relative;

            .form-group {

                .form-input {
                    height: 60px;
                    font-size: 20px;
                }
                
                .form-input-squad{
                    height: 60px;
                    font-size: 20px;

                    .custom-select {
                        height: 60px !important;
                    }
                }

                a {
                    text-decoration: none;
                    font-size: 10px;
                    margin-left: auto;
                    padding-top: 10px;
                }
            }

            .submit-btn {

                .btn-primary {
                    background-color: #d598b2;
                    border: none;
                }
            }
        }
    }
}

.login-page::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(circle at 13% 62%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 72%,transparent 72%, transparent 80%,transparent 80%, transparent 100%),radial-gradient(circle at 46% 87%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 29%,transparent 29%, transparent 76%,transparent 76%, transparent 100%),radial-gradient(circle at 46% 32%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 34%,transparent 34%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 3% 53%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 11%,transparent 11%, transparent 57%,transparent 57%, transparent 100%),radial-gradient(circle at 53% 54%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 9%,transparent 9%, transparent 27%,transparent 27%, transparent 100%),linear-gradient(184deg, rgb(224, 200, 224),rgb(210,7,160));
    opacity: 0.7;
}


.login-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(circle at 77% 26%, rgba(175, 175, 175,0.06) 0%, rgba(175, 175, 175,0.06) 4%,transparent 4%, transparent 100%),radial-gradient(circle at 37% 90%, rgba(129, 129, 129,0.06) 0%, rgba(129, 129, 129,0.06) 55%,transparent 55%, transparent 100%),radial-gradient(circle at 7% 92%, rgba(53, 53, 53,0.06) 0%, rgba(53, 53, 53,0.06) 39%,transparent 39%, transparent 100%),radial-gradient(circle at 65% 17%, rgba(128, 128, 128,0.06) 0%, rgba(128, 128, 128,0.06) 60%,transparent 60%, transparent 100%),radial-gradient(circle at 100% 39%, rgba(75, 75, 75,0.06) 0%, rgba(75, 75, 75,0.06) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 92% 34%, rgba(205, 205, 205,0.06) 0%, rgba(205, 205, 205,0.06) 35%,transparent 35%, transparent 100%),radial-gradient(circle at 63% 90%, rgba(98, 98, 98,0.06) 0%, rgba(98, 98, 98,0.06) 62%,transparent 62%, transparent 100%),radial-gradient(circle at 93% 74%, rgba(130, 130, 130,0.06) 0%, rgba(130, 130, 130,0.06) 65%,transparent 65%, transparent 100%),linear-gradient(90deg, rgb(18, 233, 78),rgb(160, 239, 92));
    opacity: 0.6;
}

.sprint-retro-page::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: radial-gradient(circle at 13% 62%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 72%,transparent 72%, transparent 80%,transparent 80%, transparent 100%),radial-gradient(circle at 46% 87%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 29%,transparent 29%, transparent 76%,transparent 76%, transparent 100%),radial-gradient(circle at 46% 32%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 34%,transparent 34%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 3% 53%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 11%,transparent 11%, transparent 57%,transparent 57%, transparent 100%),radial-gradient(circle at 53% 54%, hsla(191,0%,94%,0.1) 0%, hsla(191,0%,94%,0.1) 9%,transparent 9%, transparent 27%,transparent 27%, transparent 100%),linear-gradient(184deg, rgb(224, 200, 224),rgb(210,7,160));
    opacity: 0.7;
}



@media(max-width:630px) {
    .login-page {
        
        .login-container {
            height: 400px;
            width: 96%;
    
            .login-header {
                font-size: 2.4rem;
            }
    
            .login-form {
                width: 80%;
                height: 50%;
    
                .form-group {
    
                    .form-input {
                        height: 44px;
                        font-size: 16px;
                    }
                    
                    .form-input-squad{
                        height: 44px;
                        font-size: 16px;
    
                        .custom-select {
                            height: 44px !important;
                        }
                    }
                }
    
                .submit-btn {
    
                    .btn-primary {
                        background-color: #6200ee;
                        border: none;
                    }
                }
            }
        }
    }
}